body {
    font-family: "Roboto", sans-serif;
}

.logo img {
    width: auto;
    height: 3rem;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar {
    background-color: #014040;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #014040;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover  {
    font-weight: 600;
    color: #fff;
}

.nav-link:hover {
    color: #2EF2DF;
}

.text-title {
    font-family: "Tomorrow", sans-serif;
    margin: 0;
}

.navbar-toggler {
    background-color: #fff;
}

.text-colored {
    color: #2EF2DF;
}

#inicio {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 6rem 0;
    color: #EAFDFC;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

#inicio .content {
    position: relative;
    z-index: 1;
    text-align: center;
}

#inicio h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#inicio p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

#servicos {
    background-color: #014040;
    color: #EAFDFC;
}

#servicos .text-title {
    text-align: center;
}

.servicos-meio {
    border-left: solid 1px #061D26;
    border-right: solid 1px #061D26;
}